@page "/login"
@layout LoginLayout

<div class="login-container">
	<div class="container_logo">
	
	</div>
	<div class="container_input">
		<form>

			<input type="text" class="form-control text-center" placeholder="e-mail"/>
			<input type="text" class="form-control mt-3 text-center" placeholder="senha" />
			<button class="btn mt-3" style="background-color: purple; color: white; float: right;" type="submit">Acessar</button>
		</form>
	</div>
</div>

@code {

}
