@page "/login"
@layout LoginLayout

<div class="login-container">
	<div class="container_logo">
		<img src="chart.png" alt="logo" width="250" height="250"/>
		<p class="logomarca">mind free</p>
	</div>
	<div class="container_input">
		<form>

			<input type="text" class="form-control text-center" placeholder="e-mail"/>
			<input type="text" class="form-control mt-3 text-center" placeholder="senha" />
			<button class="btn mt-3 form-control" style="background-color: #30e3b3; color: #231058; float: right;" type="submit">Acessar</button>
		</form>
		<a href="#">Recuperar Senha</a>
	</div>
</div>

@code {


}
