.btnAlert[b-cs36w355bl] {
    background-color: #e6444e;
    width: 70px;
    height: 25px;
    color: #ffc107;
    text-align: center;
    cursor: pointer;
}

.btnAlert:hover[b-cs36w355bl] {
    opacity: 0.8;
}