@inherits LayoutComponentBase
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 d-flex flex-row align-items-center justify-content-between">

			<SectionOutlet SectionName="Top"/>

			<NavLink href="login" class="text-center">Login</NavLink>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
