@inherits LayoutComponentBase
@using MindFree.Services
@inject ICookie cookie
@inject NavigationManager navigationManager
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 d-flex flex-row align-items-center justify-content-between">

			<SectionOutlet SectionName="Top"/>

			<NavLink href="login" class="text-center" @onclick="@(() => Leave())">Logout</NavLink>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code{
	private async Task Leave()
	{
		await cookie.SetValue("app_token", "", 0);
		navigationManager.NavigateTo("login");
	}



}