@using System.Net.Http.Headers
@inject HttpClient httpClient
@inject ICookie cookie

<!-- Modal -->
<dialog id="configModal" class="meuModal">
	<img src="btn_close.png" class="btn_close" width="27" data-modal="configModal" />
	<br/>

	<div class="d-flex flex-row gap-2">

		<div>
			<label>Ano Vigente</label>
			<input type="text" class="form-control text-center" @bind-value="_currentYear" disabled style="width: 150px;" />
		</div>
		<br />
		<div>
			<label>Alíquota de investimento</label>
			<input type="text" class="form-control text-center" @bind-value="_investmentRate" disabled style="width: 200px;" />
		</div>

	</div>
	<div class="d-flex align-items-center mt-3 gap-1">
		<input type="checkbox" style="width: 20px; height: 20px;"/>
		<label>Alterar</label>

	</div>
	<button class="btn btn-success" style="position: absolute; bottom: 15px; right: 15px;">Salvar</button>


</dialog>

@code {

	private string? _currentYear { get; set; }
	private string? _investmentRate { get; set;}
	private string? _token { get; set; }


	protected override async Task OnInitializedAsync()
	{
		await GetUserConfig();
		// _currentYear = UserGlobalInfo.CurrentYear;
		// _investmentRate = UserGlobalInfo.InvestmentRate.ToString();
	}

	private async Task GetUserConfig()
	{
		_token = await cookie.GetValue("app_token");

		if (!string.IsNullOrEmpty(_token))
		{
			httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", _token);
			var config = await httpClient.GetFromJsonAsync<Config>("config");
			_currentYear = config.CurrentYear;
			_investmentRate = config.InvestmentRate.ToString();
		}
	}

}

<script>
	const closeButtons = document.querySelectorAll(".btn_close");
		closeButtons.forEach(button => {
		button.addEventListener('click', () => {
			const modalId = button.getAttribute('data-modal');
			const modal = document.getElementById(modalId);

			modal.close();
		});
	});
</script>