@page "/categorias"


<h5>Cadastro de Categorias</h5>

<EditForm Model="category" OnValidSubmit="AddCategory" OnInvalidSubmit="ErrorAddCategory">
	<DataAnnotationsValidator />

	<div class="d-flex align-items-start flex-column">

		<div class="d-flex align-items-start flex-column">
			<label for="input_name">Nome</label>
			<InputText id="input_name" @bind-Value="_name" class="form-control" />
			<ValidationMessage For="() => category.Name" />

		</div>

		<div class="d-flex align-items-center justify-content-star flex-row  gap-3 mt-3">

			<div class="d-flex align-items-center flex-column">
				<label for="input_isIncome">É receita?</label>
				<InputCheckbox id="input_isIncome" @bind-Value="_isIncome" style="width: 20px; height: 20px; accent-color: var(--verdePrincipal)" />



			</div>
			<div class="d-flex align-items-center flex-column">
				<label for="input_isRecurring">É recorrente?</label>
				<InputCheckbox id="input_isRecurring" @bind-Value="_isRecurring" style="width: 20px; height: 20px; accent-color: var(--verdePrincipal)" />

			</div>

		</div>

		<div class="d-flex align-items-center flex-row  gap-1 mt-3">
			<label for="input_repeatPer">Recorrência:</label>
			<select @bind="_day" class="form-select" id="input_repeatPer" disabled=@IsRecurringType()>
				<option value="m" selected>Mensal</option>
				<option value="d">Diária</option>
			</select>

			<div class="d-flex align-items-center flex-row gap-1" style="margin-left: 5px;">
				<label for="input_day">Dia:</label>
				<SelectDay Day="@_day" disabled=@IsRecurringType() />
				<ValidationMessage For="() => category.RepeatPer" />

			</div>

		</div>

		<div class="d-flex align-items-start flex-column mt-2">
			<label for="input_amount">Valor R$</label>
			<InputAmount Amount="@(_amount.ToString())" disabled=@IsRecurringType() />


		</div>
	</div>


	<button type="submit" class="btn btn-secondary mt-3">Salvar</button>
</EditForm>

@code {
	Category category = new();
	private int _id { get; set; }
	private string? _name { get; set; }
	private bool _isDeleted { get; set; }
	private bool _isIncome { get; set; }
	private string? _repeatPer { get; set; }
	private string? _day { get; set; }
	private bool _isRecurring { get; set; }
	private double _amount { get; set; }

	private void AddCategory()
	{

	}

	private void ErrorAddCategory()
	{

	}

	private bool IsRecurringType()
	{
		if (!_isRecurring)
		{
			return true;
		}
		else
		{
			return false;
		}
	}

}
