@page "/"
@page "/dashboard"

<PageTitle>painel</PageTitle>
<SectionContent SectionName="Top">
	<p class="text-center mt-3">Paine Administrativo</p>
</SectionContent>
<h3>Aqui ficarão os paineis do dash</h3>