@page "/login"
@layout LoginLayout
@using MindFree.Services
@inject HttpClient httpClient

<div class="login-container">
	<div class="container_logo">
		<img src="mindfree.png" alt="logo" style="width: 250px; height: 250px;"/>
		@* <p class="logomarca">mind free</p> *@
	</div>
	<div class="container_input">
		@if (!string.IsNullOrEmpty(_msg))
		{
			<p class="text-light">@_msg</p>
		}
		<form>

			<input type="text" class="form-control text-center" placeholder="e-mail" @bind-value="_email"/>
			<input type="password" class="form-control mt-3 text-center" placeholder="senha" @bind-value="_password"/>
			<button class="btn mt-3 form-control" style="background-color: #30e3b3; color: #231058; float: right;" type="button" @onclick="Sigin">Acessar</button>
		</form>
		<a href="#">Recuperar Senha</a>
	</div>
</div>

@code {

	private string? _msg { get; set; }
	private string? _email { get; set; }
	private string? _password { get; set; }


	private async Task Sigin()
	{
		UserService userService = new UserService(httpClient);
		try
		{

			User user = await userService.Login(new User{Email = _email, Password = _password});
			_msg = user.Name;
		}
		catch (Exception ex)
		{
			_msg = ex.Message;
		}

	}

}
