.transaction-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 20px;
}

.btn-include:hover{
    cursor: pointer;
    opacity: .75;
}
.btn-exclude:hover {
    cursor: pointer;
    opacity: .75;
}

.delete-card{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
    position: fixed;
    right: 5px;
    bottom: 50px;
    visibility: hidden;
}

.trash{
    margin-top: 16px;
    margin-left: 15px;
}

.delete-card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.delete-card.riseCardAnimation {
    animation: riseDeleteCard .1s linear forwards;
}

@keyframes riseDeleteCard{
    from{
        visibility: hidden;
        width: 20px;
        height: 20px;
    }
    to{
        visibility: visible;
        width: 60px;
        height: 60px;
    }
}

.delete-card.leaveCardAnimation {
    animation: leaveDeleteCard .1s linear forwards;
}

@keyframes leaveDeleteCard {
    from {

        visibility: visible;
        width: 60px;
        height: 60px;
    }

    to {
        visibility: hidden;
        width: 20px;
        height: 20px;
    }
}

.close-card {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--verdePrincipal);
    position: fixed;
    right: 5px;
    bottom: 210px;
    visibility: hidden;
}

.close-card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.close-card.riseCardAnimation {
    animation: riseDeleteCard .1s linear forwards;
}

.close-card.leaveCardAnimation {
    animation: leaveDeleteCard .1s linear forwards;
}

.edit-card {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--amareloLoad);
    position: fixed;
    right: 5px;
    bottom: 130px;
    visibility: hidden;
}

.edit-card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.edit-card.riseCardAnimation {
    animation: riseDeleteCard .1s linear forwards;
}

.edit-card.leaveCardAnimation {
    animation: leaveDeleteCard .1s linear forwards;
}

.total-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.total{
    width: 140px;
    height: 50px;
    background-color: aquamarine;
}

.month-container{
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container-input {
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.break-point {
    margin-top: 140px;
}

.input-area {
    width: 650px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgba(109,140,232,0.85);
    z-index: 1;
    position: fixed;
    border-radius: 5px;
    left: 53%;
    transform: translateX(-50%);
}

.lbl{
    color: #fff;
}


.description-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



@media (max-width: 1010px) {
    .input-area {
        width: 60%;
    }
}

@media (max-width: 950px) {
    .total-container{
        visibility: hidden;
    }

    .description-container{
        flex-direction: column;
        gap: 2px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .inputs-container {
        flex-direction: column;
    }

    .month-container{
        flex-direction: column;
        gap: 0;
    }

    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 890px) {
    .input-area {
        left: 60%;
        /*        transform: translateX(-50%);*/
    }
}

@media(max-width: 880px){
    .break-point {
        margin-top: 240px;
    }

    .input-area {
        left: 65%;
/*        transform: translateX(-50%);*/
    }
}

@media(max-width: 870px) {
    .input-area {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        
    }
    .break-point {
        margin-top: 320px;
    }

}

@media(max-width: 640px) {
    .lbl-container {
        align-items: center;
    }
    .input-area {
        position: static;
        margin: 0 auto;
        left: 0;
        transform: translateX(0%);
        width: 80%;
    }
    .break-point {
        margin-top: 10px;
    }

}

@media(max-width: 580px) {
    .input-area{
        padding-right: 20px;
        padding-left: 10px;
    }
}
