a[b-9fyw5s05nr]{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 5px;
}

a:hover[b-9fyw5s05nr]{
    cursor: pointer;
    color: #30e3b3;
    transition: all .3s;
}

.login-container[b-9fyw5s05nr]{
    width: 740px;
    height: 350px;
    background-color: #30e3b3;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.container_logo[b-9fyw5s05nr]{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_input[b-9fyw5s05nr] {
    background-color: #231058;
    width: 440px;
    height: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.container_input a[b-9fyw5s05nr]{
    text-decoration: none;
}

.logomarca[b-9fyw5s05nr]{
    position: absolute;
    top: 10px;
    font-family: cursive;
    color: #231058;
    font-size: 28px;
    letter-spacing: 0.01px;
}

@media screen and (max-width: 800px) {
    .login-container[b-9fyw5s05nr]{
        flex-direction: column;
        width: 350px;
        height: 500px;
    }

    .container_logo[b-9fyw5s05nr]{
        height: 300px;
        width: 350px;

    }


    .container_input[b-9fyw5s05nr]{
        width: 350px;
        height: 600px;
    }

    .logomarca[b-9fyw5s05nr]{
        top: 60px;
        right: -20px;

    }
}